<div class="container mt-3">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
    </ol>
  </nav>
</div>

<section class="container d-flex flex-column justify-content-center align-items-center">
	<h1 class="display-6 text-center mt-3 fw-bolder">Selamat datang, Budi Santoso.</h1>
	<p class="lead fw-normal text-center">Kelola barang di gudang Gudang Garam menjadi lebih mudah, cepat, dan akurat.</p>
	<div class="d-flex flex-row">
		<div class="mx-2">
			<a class="btn btn-primary" href="/api/item/itemlist"><i class="fas fa-search"></i><span class="mx-1"></span>Tinjau Barang</a>
		</div>
		<div class="mx-2">
			<a class="btn btn-primary" href="/api/item/statistics"><i class="fas fa-chart-pie"></i><span class="mx-1"></span>Statistik</a>
		</div>
	</div>

	<img src="./images/welcome_illustration.png" class="img-fluid text-center" alt="Website image ilustration">
</section>