<div class="container mt-3">
	<nav aria-label="breadcrumb">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item active" aria-current="page">Home</li>
	  </ol>
	</nav>
</div>

<section class="container d-flex flex-column justify-content-center align-items-center">
	<h1 class="display-6 text-center mt-3 fw-bolder">{{title}}</h1>
	<p class="lead fw-normal text-center">Kelola barang di gudang</p>
	<div class="d-flex flex-row">
		<div class="mx-2">
			<a class="btn btn-primary" href="/user/login"><i class="fas fa-sign-in-alt"></i><span class="mx-2"></span>Masuk</a>
		</div>
		<div class="mx-2">
			<a class="btn btn-primary" href="/user/signup"><i class="fas fa-user-plus"></i><span class="mx-2"></span>Daftar</a>
		</div>
	</div>

	<img src="./images/home_illustration.png" class="img-fluid text-center" alt="Website image ilustration">
</section>