<div class="container mt-3">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item"><a href="/api/item/itemList">Items List</a></li>
      <li class="breadcrumb-item active" aria-current="page">Item Detail</li>
    </ol>
  </nav>
</div>

<section class="container item-detail full-heights">
  <h1 class="display-6 text-center mt-3 fw-bolder">Barang tidak dapat ditemukan</h1>

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="/images/material_sample.png" class="img-fluid text-center w-75" alt="Item photos">
      </div>
      <div class="col-md-6 d-flex flex-column">
        <p class="lead fw-bolder">Nama Barang: Tidak ketemu</p>
        <p>Kondisi: <span class="badge bg-success">Tidak ketemu</span></p>
        <p>Tidak ketemu</p>
        <p>Harga: Rp. Tidak ketemu</p>
        <p>Kategori: <span class="badge bg-info">Tidak ketemu</span></p>
        <div>
          <button class="btn btn-primary"><i class="fas fa-heart" style="color:white;"></i></button>
          <button class="btn btn-primary"><i class="fas fa-cart-plus"></i></button>
        </div>
      </div>
    </div>
  </div>
</section>
