<div class="container mt-3">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="../">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Success</li>
    </ol>
  </nav>
</div>

<section class="container d-flex flex-column justify-content-center align-items-center">
  <h1 class="display-6 text-center mt-3 fw-normal">Barang berhasil ditambahkan</h1>
  <div class="alert alert-success" role="alert">
    Selamat, barang baru ditambahkan ke gudang :)
  </div>
  <p class="lead fw-normal text-center">Lihat <a href="/api/list">Daftar Barang</a></p>

  <img src="/images/error_illustration.png" class="img-fluid text-center" alt="Website image ilustration">
</section>